server/cert.pem
server/key.pem
server/csr.pem
server/localhost.conf
server/localhost.crt
server/localhost.key
server/functions/firebase-debug.log
server/.firebase/hosting.cHVibGlj.cache
client/.firebaserc
client/firebase.json
.gitignore
client/.firebase/hosting.YnVpbGQ.cache
