html { 
  background: url('../assets/brick-wall-3.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.img:hover {
  transform: scale(1.2);
  cursor:pointer;
}

.img {
  width: 200px;
  height: 200px;
  transition: transform .2s;
}

.img-csgo {
  width: 200px;
  height: 200px;
  transform: scaleX(-1);
}

.tooltip-h1.tooltip-h1 {
  font-size: 14px;
}