html {
  background: url("../assets/brick-wall-3.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.img:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.img {
  width: 150px;
  height: 150px;
  transition: transform 0.2s;
}

.img-csgo {
  width: 150px;
  height: 150px;
  transform: scaleX(-1);
}

.tooltip-h1.tooltip-h1 {
  font-size: 14px;
}
