.title.title {
    margin-top: 80px;
    font-weight: bold;
    text-transform: uppercase;
    color: #D9DCD6;
    font-size: 54px;
}

.question.question {
    text-align: center ;
    font-weight: 600;
    color: #D9DCD6;
    margin-top: 64px;
    margin-bottom: 40px;
    font-size: 36px;
}

.animate__animated.animate__fadeInUp.animate__animated.animate__fadeInUp {
    background-color: #59709b;
    font-size: 20px;
    height: 55px;
    width: 350px;
    color: #D9DCD6;
    font-weight: 600;
    letter-spacing: 1px;
    border-radius: 7px;
    overflow: hidden;
}

.animate__animated.animate__fadeInUp.animate__animated.animate__fadeInUp:hover {
    background-color: #334669;
}

.animate__animated.animate__flash {
    -o-animation-delay: 8s;
    animation-delay: 8s;
    animation-duration: 2s;
    -o-animation-duration: 2s;
}
