html { 
    background: url('../assets/brick-wall-3.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

.info-header {
    color: #D9DCD6;
    text-align: center;
}

.info-1 {
    color: #D9DCD6;
    margin-top: 32px !important;
}

.info-2 {
    color: #D9DCD6;
    margin-top: 16px !important;
    margin-bottom: 16px !important;
}

  